.modal-title {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.finished {
    color: lime;
}

.timeout {
    color: orange;
}

.modal-category {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: normal;
}

.modal-message {
    margin: .5rem;    
    font-size: 2rem;
    text-align: center;
}

.modal-info {
    padding: 0 16px 16px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}