body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  
  height: 100vh;
  background: linear-gradient(lightblue, lightcyan);
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
}
